button {
  background-color: #FF8C69;
  border: none;
  color: white;
  text-align: center;
  padding: 10px 30px;
  margin: 10px;
  font-family: monospace;
}

canvas {
  border-radius: 10px;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#window-wrapper {
  width: 50%;
  margin: 0.8%;
  float: left;
  justify-content: center;
  align-items: center;
}

#button-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-left: 5em;
  width: 40%;
  float: right;
}

.annoucement {
  color: salmon;
  text-align: center;
  font-family: monospace;
}

p {
  font-family: monospace;
  color: salmon;
  font-size: xx-large;
}

#order-label-wrapper {
  margin: 10px;
}