button {
  background-color: #FF8C69;
  border: none;
  color: white;
  text-align: center;

  padding: 10px 10px;
  width: 100px;
  height: 40px;
  margin: 10px;

}

#container {
  display: flexbox;
  flex-direction: row;
}

#window-wrapper {
  width: 50%;
  float: left;
  justify-content: center;
  align-items: center;
}

#button-wrapper {
  display: flexbox;
  flex-flow: row wrap;
  align-content: space-between;

  width: 40%;
  float: right;
  margin-top: 220px;

}

canvas {
  border-radius: 10px;
  margin: 30px;
}