#container
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center

    #window-wrapper
        width: 50%
        justify-content: center
        align-items: center

    #right-wrapper
        display: flex
        flex-flow: column nowrap
        justify-content: center
        align-items: center
        width: 40%
        margin-left: 5em

#button-wrapper
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center

#settings-wrapper
    display: flex
    flex-flow: column wrap
    justify-content: center
    align-items: center

#order-control-wrapper
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center
