button
    background-color: salmon
    border-style: solid
    border-color: salmon
    border-radius: 5px
    color: white

    text-align: center
    font-family: monospace
    font-size: large

    padding: 0.5em 1.5em
    margin: 0.5em

    transition: color 0.2s ease-out
    transition: background-color 0.2s ease-out

    &:hover
        color: salmon
        background-color: white

canvas
    border-radius: 10px

#container
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center

#window-wrapper
    width: 50%
    justify-content: center
    align-items: center

#button-wrapper
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center

    margin-left: 5em
    width: 40%

p
    font-family: monospace
    color: salmon
    font-size: xx-large

#order-label-wrapper
    margin: 0.5em
